
<body>
    <header>
        <div class="header-top">
            <ul class="top-icon-redes">
                <li>
                    <a href="https://www.facebook.com/">
                        <i class="fab fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
            </ul>
            <ul class="top-cont-pers">
                <li>
                    <a href="/login">Mi cuenta</a>
                </li>
                <li>
                    <a href="/productCart">Carrito de compras</a>
                </li>
                <li>
                    <a href="#">Cerrar sesion</a>
                </li>
            </ul>
        </div>
        <nav class="main-desktop">
            <div class="main-desk-logo">
                <a href="/">
                    <img src="/images/todoog.png" alt="logo">
                </a>
            </div>
            
            <ul class="main-nav-desk">
                <li class="">
                    <a href="/">inicio</a>
                </li>
                <li>
                    <a href="#">
                        para el piloto
                        <i class="fas fa-chevron-down"></i>
                    </a>
                    
                </li>
                <li>
                    <a href="#">
                        para el avion
                    <i class="fas fa-chevron-down"></i> 
                    </a>
                    
                </li>
                <li>
                    <a href="#">faq's</a>
                </li>
                <li>
                    <a href="#">noticias</a>
                </li>
                <li>
                    <a href="/productDet" class="nav-desk-tienda">
                        <span>tienda</span>
                    </a>
                </li>
                <li>
                    <a href="/login">sign in / join</a>
                </li>
                <li>
                    <a href="/productCart">
                        <span>
                            <i class="fas fa-shopping-basket"></i>
                            <span class="contador-carrito"> 0 </span>
                        </span>
                    </a>
                </li>
                
                <li>
                    <a href="#">
                        <i class="fas fa-search"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <nav class="main-mobile">
            <ul class="main-nav-mob-tab">
                <li class="carrito">
                    <a href="/productCart">
                        <span>
                            <i class="fas fa-shopping-basket"></i>
                            <span class="contador-carrito"> 0 </span>
                        </span>
                    </a>
                </li>
                <li class="logo">
                    <a href="/">
                        <img src="/images/todoog.png" alt="logo">
                    </a>
                </li>
                <li class="hamburger">
                    <a href="#">
                        <i class="fas fa-bars"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </header>