<div class="sidebar-product">
    <h3>Síguenos</h3>
    <ul class="socials">
       <li><a href="#"><i class="fab fa-twitter"></i></a></li>
       <li><a href="#"><i class="fab fa-facebook"></i></a></li>
       <li><a href="#"><i class="fab fa-instagram"></i></a></li>
       <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
       <li><a href="#"><i class="fab fa-youtube"></i></a></li>
    </ul>
    <h3>Categorías</h3>
    <ul class="sidebar-categorias">
       <li><a href="#">Auriculares o Headsets</a></li>
       <li><a href="#">Bolsos de vuelo</a></li>
       <li><a href="#">Cartografía</a></li>
       <li><a href="#">Libros</a></li>
       <li><a href="#">Para el avión</a></li>
       <li><a href="#">Para el piloto</a></li>
       <li><a href="#">Pilot Covers</a></li>
       <li><a href="#">Regalos</a></li>
       <li><a href="#">Uniformes</a></li>
    </ul>
    <h3>Mejor calificados</h3>
    <ul class="top-rated">
       <li>
          <img src="/images/Guardianes-de-nasca.png" alt="libro">
          <div>
             <p>Libro "Los Guardianes de Nasca"</p>
             <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
             <h6 class="precio">S/60.00</h6>
          </div>
       </li>
       <li>
          <img src="/images/usher-2.png" alt="sweater">
          <div>
             <p>Slim Sweater</p>
             <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
             <h6 class="precio">S/66.98</h6>
          </div>
       </li>
       <li>
          <img src="/images/Pilot-lanyard-con-argolla-e1609813811260.jpg" alt="lanyard">
          <div>
             <p>Pilot Lanyard</p>
             <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
             <h6 class="precio">S/20.00</h6>
          </div>
       </li>
       <li>
          <img src="/images/Organizational-pack-charts-504x504.jpg" alt="libro">
          <div>
             <p>Pack de organización"</p>
             <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
             <h6 class="precio">S/22.00</h6>
          </div>
       </li>
    </ul>
 </div>