<!DOCTYPE html>
<html lang="en">
<head>

    <%- include ('./partials/head') %>

    <link rel="stylesheet" href="/css/cart_styles.css">
    <title>Todo aviador Perú | Carrito</title>
</head>

    <%- include("./partials/header") %>

    <main>
        <header>
            <div class="ancho">
                <h1>Productos</h1>
                <nav>
                    <ul>
                        <li class="home">
                            <a href="/">
                                <i class="fas fa-home"></i>
                            </a>
                            <span>></span>
                        </li>
                        <li class="carrito">
                            <a href="/producto/lista-producto">
                            </a>
                            <span>Productos</span>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        
        
    </main>

    <%- include("./partials/footer") %>

</body>
</html>