<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>TodoAviador</title>
        <meta name="viewport" content="width=device-width" scale="1">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/5b5e7174df.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/home-styles.css">
    </head>
    <body>
        <header>
            <nav class="header-main-top">
                <ul class="social-logos">
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
                <ul class="right-nav">
                    <li><a href="#">Mi cuenta</a></li>
                    <li><a href="#">Shopping cart</a></li>
                    <li><a href="#">Contáctanos</a></li>
                </ul>
            </nav>
            <nav class="header-main-bottom-desktop">
                <img src="/images/todoog.png" alt="logo">
                <ul class="main-nav-bot-dkt">
                    <li><a href="#">INICIO</a></li>
                    <li><a href="#">PARA EL PILOTO</a></li>
                    <li><a href="#">PARA EL AVION</a></li>
                    <li><a href="#">FAQ'S</a></li>
                    <li><a href="#">NOTICIAS</a></li>
                    <li><button>TIENDA</button></li>
                    <li><a href="#">SIGN IN/JOIN</a></li>
                    <li><a href="#"><i class="fas fa-shopping-basket"></i></a></li>
                    <li><a href="#"><i class="fas fa-search"></i></a></li>
                    <li><a href="#"><i class="fas fa-bars"></i></a></li>
                </ul>
            </nav>
            <nav class="header-main-bottom-mobile">
                <ul class="main-nav-bot-mbl">
                    <li><a href="#"><i class="fas fa-shopping-basket"></i></a></li>
                    <li><img src="/images/todoog.png" alt="logo"></li>
                    <li><a href="#"><i class="fas fa-bars"></i></a></li>
                </ul>
            </nav>
        </header>
        <main>
        
        <section class="banner">
            
            <div class="container-banner-text1">
                <h2 class="banner-text1">Todo en un solo lugar</h2>

            </div>
            <div class="container-banner-text2">
                <h2 class="banner-text2">Explora  Aviación</h2>
            </div>
            <div class="container-banner-text3">
                <p class="banner-text3">Espacio aeronáutico desarrollado con mucha pasión,
                     en conjunto con decenas de marcas y tiendas aeronáuticas para conectar a todos
                      los que amamos la aviación.<br><br>Únete a nuestra comunidad.</p>
            </div>

            <div class="button-container">
            <button value="Explora">Explora
                <a href="#" class=""></a>
            </button>
            </div>
 </section>




    </main>
</body>
</html>