<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>TodoAviador</title>
        <meta name="viewport" content="width=device-width" scale="1">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <header>

        </header>
        <main class="main-login">
            <section class="cuadro-login">
                <div class="formulario-login">
                    <h2>Inicar Sesión</h2>
                    <h3>Se parte de nuestra comunidad</h3>
                    <form action="/login" method="POST" class="formulario-login">
                        <input type="text" name="usuario" id="usuario" placeholder="Usuario">
                        <input type="password" name="password" id="password" placeholder="Contraseña">
                        <div class="recordarme">
                            <input type="checkbox" name="recordarme" id="recordarme">
                            <label for="recordarme">Recordarme</label>
                        </div>
                        <button type="submit" name="login">LOGIN</button>
                    </form>
                    <a href="#">¿Olvidaste tu contraseña?</a>
                </div>
                <div class="registrate">
                    <p>¿No eres miembro?</p>
                    <button>Regístrate</button>
                </div>
            </section>
        </main>
    </body>
</html>