<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>TodoAviador</title>
        <meta name="viewport" content="width=device-width" scale="1">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/5b5e7174df.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <header>
            <nav class="header-main-top">
                <ul class="social-logos">
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
                <ul class="right-nav">
                    <li><a href="#">Mi cuenta</a></li>
                    <li><a href="#">Shopping cart</a></li>
                    <li><a href="#">Contáctanos</a></li>
                </ul>
            </nav>
            <nav class="header-main-bottom-desktop">
                <img src="/images/todoog.png" alt="logo">
                <ul class="main-nav-bot-dkt">
                    <li><a href="#">INICIO</a></li>
                    <li><a href="#">PARA EL PILOTO</a></li>
                    <li><a href="#">PARA EL AVION</a></li>
                    <li><a href="#">FAQ'S</a></li>
                    <li><a href="#">NOTICIAS</a></li>
                    <li><button>TIENDA</button></li>
                    <li><a href="#">SIGN IN/JOIN</a></li>
                    <li><a href="#"><i class="fas fa-shopping-basket"></i></a></li>
                    <li><a href="#"><i class="fas fa-search"></i></a></li>
                    <li><a href="#"><i class="fas fa-bars"></i></a></li>
                </ul>
            </nav>
            <nav class="header-main-bottom-mobile">
                <ul class="main-nav-bot-mbl">
                    <li><a href="#"><i class="fas fa-shopping-basket"></i></a></li>
                    <li><img src="/images/todoog.png" alt="logo"></li>
                    <li><a href="#"><i class="fas fa-bars"></i></a></li>
                </ul>
            </nav>
        </header>
        <main class="main-login">
            <section class="cuadro-login">
                <div class="formulario-login">
                    <h2>Inicar Sesión</h2>
                    <h3>Se parte de nuestra comunidad</h3>
                    <form action="/login" method="POST" class="formulario-login">
                        <input type="text" name="usuario" id="usuario" placeholder="Usuario">
                        <input type="password" name="password" id="password" placeholder="Contraseña">
                        <div class="recordarme">
                            <input type="checkbox" name="recordarme" id="recordarme">
                            <label for="recordarme">Recordarme</label>
                        </div>
                        <button type="submit" name="login">LOGIN</button>
                    </form>
                    <a href="#">¿Olvidaste tu contraseña?</a>
                </div>
                <div class="registrate">
                    <p>¿No eres miembro?</p>
                    <button>Regístrate</button>
                </div>
            </section>
        </main>
        <footer>
            <section class="footer">
                <div>
                    <h4>Información de contacto</h4>
                    <ul>
                        <li>De Lunes a Domingo de 09:00 a 21:00hs.</li>
                        <li>
                            <i class="fas fa-map-marker-alt"></i>
                            <div>
                                <span>Ubicación:</span>
                                <a href=""><span>Calle Ciro Alegría 275, Urb. Amauta. SHM</span></a>
                            </div>
                        </li>
                    </ul>
                    
                </div>
            </section>
        </footer>
    </body>
</html>