<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>TodoAviador</title>
        <meta name="viewport" content="width=device-width" scale="1">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/5b5e7174df.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="static/css/normalize.css">
        <link rel="stylesheet" href="static/css/styles.css">
    </head>
    <body>
        <header>
            <nav class="header-main-top">
                <ul class="social-logos">
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
                <ul class="right-nav">
                    <li><a href="#">Mi cuenta</a></li>
                    <li><a href="#">Shopping cart</a></li>
                    <li><a href="#">Contáctanos</a></li>
                </ul>
            </nav>
            <nav class="header-main-bottom-desktop">
                <img src="static/images/todoog.png" alt="logo">
                <ul class="main-nav-bot-dkt">
                    <li><a href="#">INICIO</a></li>
                    <li><a href="#">PARA EL PILOTO</a></li>
                    <li><a href="#">PARA EL AVION</a></li>
                    <li><a href="#">FAQ'S</a></li>
                    <li><a href="#">NOTICIAS</a></li>
                    <li><button>TIENDA</button></li>
                    <li><a href="#">SIGN IN/JOIN</a></li>
                    <li><a href="#"><i class="fas fa-shopping-basket"></i></a></li>
                    <li><a href="#"><i class="fas fa-search"></i></a></li>
                    <li><a href="#"><i class="fas fa-bars"></i></a></li>
                </ul>
            </nav>
            <nav class="header-main-bottom-mobile">
                <ul class="main-nav-bot-mbl">
                    <li><a href="#"><i class="fas fa-shopping-basket"></i></a></li>
                    <li><img src="static/images/todoog.png" alt="logo"></li>
                    <li><a href="#"><i class="fas fa-bars"></i></a></li>
                </ul>
            </nav>
        </header>
        <main class="main-product-detail">
            <div class="sidebar-product">
                <h3>Síguenos</h3>
                <ul class="socials">
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>
                <h3>Categorías</h3>
                <ul class="sidebar-categorias">
                    <li><a href="#">Auriculares o Headsets</a></li>
                    <li><a href="#">Bolsos de vuelo</a></li>
                    <li><a href="#">Cartografía</a></li>
                    <li><a href="#">Libros</a></li>
                    <li><a href="#">Para el avión</a></li>
                    <li><a href="#">Para el piloto</a></li>
                    <li><a href="#">Pilot Covers</a></li>
                    <li><a href="#">Regalos</a></li>
                    <li><a href="#">Uniformes</a></li>
                </ul>
                <h3>Mejor calificados</h3>
                <ul class="top-rated">
                    <li>
                        <img src="static/images/Guardianes-de-nasca.png" alt="libro">
                        <div>
                            <p>Libro "Los Guardianes de Nasca"</p>
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                            <h6 class="precio">S/60.00</h6>
                        </div>
                    </li>
                    <li>
                        <img src="static/images/usher-2.png" alt="sweater">
                        <div>
                            <p>Slim Sweater</p>
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                            <h6 class="precio">S/66.98</h6>
                        </div>
                    </li>
                    <li>
                        <img src="/images/Pilot-lanyard-con-argolla-e1609813811260.jpg" alt="lanyard">
                        <div>
                            <p>Pilot Lanyard</p>
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                            <h6 class="precio">S/20.00</h6>
                        </div>
                    </li>
                    <li>
                        <img src="static/images/Organizational-pack-charts-504x504.jpg" alt="libro">
                        <div>
                            <p>Pack de organización"</p>
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                            <h6 class="precio">S/22.00</h6>
                        </div>
                    </li>
                </ul>
            </div>
            <section class="product-page">
                <section class="product-detail">
                    <div class="img-detail">
                        <div class="prod-images">
                            <img src="static/images/Pilots-mapstrap-example.jpg" alt="imagen-principal" class="main-img-prod">
                            <div class="galery-img">
                                <ul>
                                    <li><img src="static/images/Pilots-mapstrap-example-504x504.jpg" alt="img1"></li>
                                    <li><img src="static/images/Pilot-Mapstrap-2-504x504.jpg" alt="img2"></li>
                                    <li><img src="static/images/Pilot-Mapstrap-3-504x504.jpg" alt="img3"></li>
                                    <li><img src="static/images/Pilot-Mapstrap-504x504.jpg" alt="img4"></li>
                                    <li><img src="static/images/Pilots-mapstrap-example-3-504x504.jpg" alt="img5"></li>
                                    <li><img src="static/images/Pilots-mapstrap-example-4-504x504.jpg" alt="img6"></li>
                                    <li><img src="static/images/Pilots-mapstrap-example-5-504x504.jpg" alt="img7"></li>
                                    <li><img src="static/images/Pilots-mapstrap-example-2-504x504.jpg" alt="img8"></li>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <h4>Pilot Strap</h4>
                            <h3 class="precio">S/16.00</h3>
                            <p>Accesorio que sirve de complemento para sujetar los mapas, facilitar la observación del piloto en vuelo y la organizacion en la cabina.</p>
                            <p>Hecho de materiales de fácil transporte y durabilidad</p>
                            <h6>En stock</h6>
                            <div class="add-cart">
                                <button>-</button>
                                <p>1</p>
                                <button>+</button>
                                <button class="add-cart-button">Agregar al carrito</button>
                            </div>
                            <div class="prod-desc-cat">
                                <p>Categoría: Para el piloto</p>
                                <p>Etiqueta: Wingstore</p>
                            </div>
                            <p><i class="far fa-heart"></i></p>
                            <button class="compare-button">Comparar</button>
                        </div>
                    </div>
                    <section>
                        <div class="prod-desc-title">
                            <ul>
                                <li><a href="#">Descripción</a></li>
                                <li><a href="#">Comentarios</a></li>
                            </ul>
                        </div>
                        <div>
                            <h3>Descripción</h3>
                            <p>Accesorio que sirve de complemento para sujetar los mapas, facilitar la observación del piloto en vuelo y la organizacion en la cabina.</p>
                            <p>Hecho de materiales de fácil transporte y durabilidad</p>
                        </div>
                        <div class="share-product">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                        <p>Compartir en Twitter</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook"></i>
                                        <p>Compartir en Facebook</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-pinterest-p"></i>
                                        <p>Compartir en Pinterest</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-envelope"></i>
                                        <p>Compartir por correo</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </section>
                </section>
                <section class="related-prod">
                    <h3>Productos relacionados</h3>
                    <div>
                        <ul>
                            <li><img src="static/images/PPA-504x638.png" alt="related"></li>
                            <li><p>Auriculares o Headsets, Para el piloto</p></li>
                            <li><p>Headset Piloto</p></li>
                            <li><h6 class="precio">S/139.95</h6></li>
                            <li><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></li>
                            <li><button>Comprar</button></li>
                        </ul>
                        <ul>
                            <li><img src="static/images/usher-2.png" alt="related"></li>
                            <li><p>Para el piloto, Regalos</p></li>
                            <li><p>Lanyard Cessna</p></li>
                            <li><h6 class="precio">S/20.00</h6></li>
                            <li><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></li>
                            <li><button>Comprar</button></li>
                        </ul>
                        <ul>
                            <li><img src="static/images/camisa-aviador-corbata-galones-y-modelo.jpg" alt="related"></li>
                            <li><p>Para el piloto, Uniformes</p></li>
                            <li><p>Camisa Aviador para Pilotos</p></li>
                            <li><h6 class="precio">S/55.00</h6></li>
                            <li><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></li>
                            <li><button>Comprar</button></li>
                        </ul>
                    </div>
                </section>
            </section>
        </main>
        <footer>
            <section class="footer">
                <div class="column-footer">
                    <h4>Información de contacto</h4>
                    <ul class="contacto">
                        <li>De Lunes a Domingo de 09:00 a 21:00hs.</li>
                        <li>
                            <i class="fas fa-map-marker-alt"></i>
                            <div>
                                <span>Ubicación:</span>
                                <a href=""><span>Calle Ciro Alegría 275, Urb. Amauta. SHM</span></a>
                            </div>
                        </li>
                        <li>
                            <i class="fas fa-mobile-alt"></i>
                            <div>
                                <span>Whatsapp:</span>
                                <a href="#"><span>(+51) 947 432 205</span></a>
                            </div>
                        </li>
                        <li>
                            <i class="far fa-envelope"></i>
                            <div>
                                <span>Email:</span>
                                <a href="#"><span>info@todoaviador.com</span></a>
                            </div>
                        </li>
                    </ul> 
                </div>
                <div class="column-footer">
                    <h4>Publicaciones recientes</h4>
                    <ul class="publicaciones">
                        <li>
                            <a href="#"><img src="#" alt="publ1"></a>
                            <div>
                                <a href="#">Lorem ipsum, dolor sit</a>
                                <div>Abril 8, 2020</div>
                                <div><a href="#">10 comentarios</a></div>
                            </div>
                        </li>
                        <li>
                            <a href="#"><img src="#" alt="publ2"></a>
                            <div>
                                <a href="#">Lorem ipsum, dolor sit</a>
                                <div>Abril 9, 2020</div>
                                <div><a href="#">6 comentarios</a></div>
                            </div>
                        </li>
                        <li>
                            <a href="#"><img src="#" alt="publ3"></a>
                            <div>
                                <a href="#">Lorem ipsum, dolor sit</a>
                                <div>Abril 10, 2020</div>
                                <div><a href="#">18 comentarios</a></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="column-footer">
                    <h4>Tienda</h4>
                    <ul>
                        <li><a href="#">Mujeres</a></li>
                        <li><a href="#">Hombres</a></li>
                        <li><a href="#">Marcas</a></li>
                        <li><a href="#">Últimos</a></li>
                    </ul>
                    <h4>Enlaces Útiles</h4>
                    <ul>
                        <li><a href="#">Sobre de nosotros</a></li>
                        <li><a href="#">Contáctanos</a></li>
                        <li><a href="#">Términos y Condiciones</a></li>
                        <li><a href="#">FAQs</a></li>
                    </ul>
                </div>
                <div class="column-footer">
                    <h4>Etiquetas</h4>
                    <div class="etiquetas">
                        <a href="#">Biblioteca Aeronáutica HDIW</a>
                        <a href="#">Camisas</a>
                        <a href="#">Christian Yong</a>
                        <a href="#">Jacket</a>
                        <a href="#">Jeans</a>
                        <a href="#">Libros</a>
                        <a href="#">Hombres</a>
                        <a href="#">Pantalones</a>
                        <a href="#">Todo Aviador</a>
                        <a href="#">Uniformes</a>
                        <a href="#">Wingstore</a>
                    </div>
                    <h4>Síguenos</h4>
                    <ul class="socials">
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </section>
            <section class="sub-footer">
                <div>
                    <ul>
                        <li><a href="#">Sobre nosotros</a></li>
                        <li><a href="#">Contáctanos</a></li>
                        <li><a href="#">Términos y Condiciones</a></li>
                        <li><a href="#">Política de Privacidad</a></li>
                    </ul>
                </div>
                <div>
                    <h5>© Copyright - 2021</h5>
                </div>
            </section>
        </footer>
    </body>
</html>