<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/cart_styles.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>    
    <link rel="shortcut icon" href="static/images/Icon_todo_aviador.png" />
    <title>Todo aviador Perú | Carrito</title>
</head>
<body>
    <header>
        <div class="header-top">
            <ul class="top-icon-redes">
                <li>
                    <a href="https://www.facebook.com/todoaviadorperu">
                        <i class="fab fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/todoaviadorperu">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
            </ul>
            <ul class="top-cont-pers">
                <li>
                    <a href="#">Mi cuenta</a>
                </li>
                <li>
                    <a href="/productCart">Carrito de compras</a>
                </li>
                <li>
                    <a href="#">Contáctanos</a>
                </li>
            </ul>
        </div>
        <nav class="main-desktop">
            <a href="/home">
                <img src="static/images/todoog.png" alt="logo">
            </a>
            <ul class="main-nav-desk">
                <li>
                    <a href="#">inicio</a>
                </li>
                <li>
                    <a href="#">para el piloto</a>
                </li>
                <li>
                    <a href="#">para el avion</a>
                </li>
                <li>
                    <a href="#">faq's</a>
                </li>
                <li>
                    <a href="#">noticias</a>
                </li>
                <li>
                    <a href="/productoDetail">
                        <span>tienda</span>
                    </a>
                </li>
                <li>
                    <a href="#">sign in/join</a>
                </li>
                <li>
                    <a href="/productCart">
                        <span>
                            <i class="fas fa-shopping-basket"></i>
                            <span class="contador-carrito"> 0 </span>
                        </span>
                    </a>
                </li>
                
                <li>
                    <a href="#">
                        <i class="fas fa-search"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-bars"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <nav class="main-mobile">
            <ul class="main-nav-mob-tab">
                <li class="carrito">
                    <a href="/productCart">
                        <span>
                            <i class="fas fa-shopping-basket"></i>
                            <span class="contador-carrito"> 0 </span>
                        </span>
                    </a>
                </li>
                <li class="logo">
                    <a href="/home">
                        <img src="static/images/todoog.png" alt="logo">
                    </a>
                </li>
                <li class="hamburger">
                    <a href="#">
                        <i class="fas fa-bars"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        
    </main>

    <footer>

    </footer>

</body>
</html>