<!DOCTYPE html>
<html>
    <head>
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="/css/styles.css">
        <title>Registro - TodoAviador</title>
    </head>
    <%- include('./partials/header') %>
        <main class="main-login">
            <section class="cuadro-login">
                <div class="login-top-div">
                    <h2>Crea tu cuenta</h2>
                    <p>¡Bienvenido! Regístrate y sé parte de nuestra comunidad</p>
                    <form action="/register" method="POST" class="formulario-login">
                        <input type="text" name="usuario" id="usuario" placeholder="Usuario">
                        <input type="email" name="email" id="email" placeholder="Correo">
                        <input type="password" name="password" id="password" placeholder="Contraseña">
                        <input type="password" name="conf-password" id="conf-password" placeholder="Confirmar contraseña">
                        <button type="submit" name="register">Registrarme</button>
                    </form>
                </div>
                <div class="registrate">
                    <p>¿Ya eres miembro?</p>
                    <button onclick="location.href='/login';">Ingresar</button>
                </div>
            </section>
        </main>
    <%- include('./partials/footer') %>
</html>