footer{
    width: 100%;
    background-color: #1f1e1e;
    color: #ffffff;
    box-sizing: border-box;
}
footer .footer-contenido{
    width: 90%;
    margin: auto;
    padding: 30px 0;
}

footer a{
    background-color: transparent;
    text-decoration: none;
    color: #ffffff;
    width: 100%;
}

footer .info-contacto,
       .public-recientes,
       .enlaces-internos,
       .hipervinculos{
    width: 100%;
    margin-bottom: 30px;
}
footer .tienda,
       .etiquetas{    
    width: 100%;
    margin-bottom: 30px;
}
footer ol{
    margin: 0;
    padding: 0;
}

footer ol li{
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

footer .info-contacto h4,
       .public-recientes h4,
       .enlaces-internos h4,
       .hipervinculos h4{
    width: 100%;
    margin: 0 0 20px 0;
    font-weight: 550;
}

footer .info-contacto ol li{
    margin-bottom: 20px;
}

footer .info-contacto ol li{
    color: #c1c1c1;
}

footer .info-contacto ol li .icon{
    display: flex;
    justify-content: center;
    width: 10%;
    height: 40px;
    border: 1px solid #e4e4e433 ;
    border-radius: 5px;
}

footer .info-contacto ol li .icon i{
    align-self: center;
}

footer .info-contacto ol li .info{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    padding-left: 10px;
}

footer .info-contacto ol li .info span, .info a{
    display: flex;
    width: 100%;
}

footer .footer-prod{
    padding-top: 15px;
    border-top: 1px solid #e4e4e433;
    margin-top: 15px;
}

footer .footer-img-prod{
    width: 22%;
    margin-right: 4%;
}

footer .footer-img-prod a, img{
    width: 100% ;
}

footer .descr-producto{
    width: 74%;
}

footer .descr-producto .nom-producto, 
    .info-producto{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

footer .descr-producto .info-producto{
    margin-top: 5px;
}

footer .descr-producto .info-producto span,
.info-producto a{
    display: block;
    width: 100%;
    font-size: 12px;
}

footer .enlaces-internos .tienda ol{
    font-size: 14px;
}

/* footer .enlaces-internos .tienda a::before{
    content: '\f111';
    display: inline-block;
    color: #c1c1c1;
    font-size: 10px;
    margin-right: 10px;
    margin-top: -2px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
    vertical-align: middle;
    zoom: 1;
    border-radius: 50%;
    box-sizing: border-box;
} */

footer .enlaces-internos .tienda a,
.enlaces-utiles a{
    width: auto;
    padding: 5px 0;
    transition: all 1s;
}

footer .enlaces-internos .tienda a:hover,
.enlaces-utiles a:hover{
    padding: 5px 15px;
}

footer .tienda ol li a input,
.enlaces-utiles ol li a input{
    margin: 1px 6px 3px 0px;
}

footer .tienda ol li a span,
.enlaces-utiles ol li a span{
    font-weight: 100;
}

footer .etiquetas ol li a,
       .redes ol li a{
    width: auto;
    padding: 8px 12px;
    margin: 0 2.5px 5px 0;
    display: inline-block;
    border: 1px solid #ffffff1a;
    border-radius: 5px;
    background-color: #ffffff1a;
    font-size: 12px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    line-height: 1;
}

footer .redes ol{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

footer .redes ol li {
    display: flex;
    width: 40px;
    height: 40px;
    margin: 3px;
    top: 0px;
    transition: all 1s;

}

footer .redes ol li:hover{
    position: relative;
    top: -10px;
}

footer .redes ol li a{
    width: 100% !important;
    background-color: transparent;
    border-radius: 50%;
    margin: 0;
    padding: 12px;
    text-align: center;
    bottom: 0px;
    transition: all 1s;
}


footer .redes ol li a i{
    font-size: 18px;
}



footer .redes ol li .red-twit:hover{
    color: #46d4fe !important;
    border-color: #46d4fe !important;
}
footer .redes ol li .red-face:hover{
    color: #3b5998 !important;
    border-color: #3b5998 !important;
}
footer .redes ol li .red-insta:hover{
    color: #3f729b !important;
    border-color: #3f729b !important;
}
footer .redes ol li .red-link:hover{
    color: #0e76a8 !important;
    border-color: #0e76a8 !important;
}
footer .redes ol li .red-iutu:hover{
    color: #c4302b !important;
    border-color: #c4302b !important;
}

footer .footer-bottom{
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background-color:#4a4a4a;
    font-size: 12px;
    color: #221d1d;
}

footer .footer-bottom p{
    margin: 0;
}


@media(min-width: 769px){

    footer .footer-contenido{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    footer .info-contacto,
        .public-recientes,
        .enlaces-internos,
        .hipervinculos{
        width: calc(50% - 10px);
    }


}


@media(min-width: 1024px){

    footer .info-contacto,
    .public-recientes,
    .enlaces-internos,
    .hipervinculos{
        width: calc(25% - 12px);
    }


}





