<!DOCTYPE html>
<html>
    <head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/styles.css">
        <title>Login - TodoAviador</title>
    </head>
    <%- include('../partials/header') %>
       
        <main class="main-login">
            <section class="cuadro-login">
                <div class="login-top-div">
                    <h2>Inicar Sesión</h2>
                    <p>Se parte de nuestra comunidad</p>
                    <form action="/login" method="POST" class="formulario-login">
                        <input type="text" name="usuario" id="usuario" placeholder="Usuario">
                        <input type="password" name="password" id="password" placeholder="Contraseña">
                        <div class="recordarme">
                            <input type="checkbox" name="recordarme" id="recordarme">
                            <label for="recordarme">Recordarme</label>
                        </div>
                        <button type="submit" name="login">LOGIN</button>
                    </form>
                    <a href="#">¿Olvidaste tu contraseña?</a>
                </div>
                <div class="registrate">
                    <p>¿No eres miembro?</p>
                    <button onclick="location.href='/register';">Regístrate</button>
                </div>
            </section>
        </main>
    <%- include('../partials/footer') %>
</html>