<!DOCTYPE html>
<html>
    <head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/styles.css">
        <title>Login - TodoAviador</title>
    </head>
    <%- include('../partials/header') %>
       
        <main class="errorPage">
            <section >
                <h1>Error 404: No se encontró la página</h1>
                <p>Parece que la página que buscasté no se encuentra activa o no existe</p>
                <p>Lamentamos este inconveniente, por favor continúa dando click a uno de los siguientes botones:</p>
                <a href="/" class="action-button add-cart-button">Regresar al inicio</a>
                <a href="/producto/listado" class="action-button add-cart-button">Ir a la tienda</a>
            </section>
        </main>
    <%- include('../partials/footer') %>
</html>